# Блокирование показа папки при отсутствии в ней индексных файлов
Options -Indexes

# Все отображаемые данные имеют кодировку utf-8
AddDefaultCharset utf-8

# Заголовки безопасности
Header set X-XSS-Protection "1;mode=block"
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set Referrer-Policy "no-referrer"

# Правила для ЧПУ
RewriteEngine On
Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.html [L]