# Блокирование показа папки при отсутствии в ней индексных файлов
Options -Indexes

# Все отображаемые данные имеют кодировку utf-8
Header set Content-type "text/html; charset=UTF-8"

# Заголовки безопасности
Header set X-XSS-Protection "1;mode=block"
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set Referrer-Policy "no-referrer"